{
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "plugins": [
        "html",
        "vue",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-empty": [
            "error",
            {
                "allowEmptyCatch": true
            }
        ],
        "no-unsafe-finally": "off",
        "vue/max-attributes-per-line": "off",
        "vue/html-self-closing": [
            "error",
            {
                "html": {
                    "void": "always",
                    "normal": "never",
                    "component": "never"
                }
            }
        ],
        "vue/singleline-html-element-content-newline": "off",
        "vue/no-v-html": "off",
        "vue/valid-v-slot": [
            "error",
            {
                "allowModifiers": true
            }
        ]
    }
}