node_modules
build/report/
build/scriptcat/src/*.js
build/scriptcat/src/*
build/scriptcat/**.html
build/scriptcat/src/*.txt
build/scriptcat/src/*.ttf
build/scriptcat/src/*.css

*.zip
*.crx
*.pem
manifest_firefox.json
manifest_chrome.json
scriptcat_firefox

private
.idea
.vscode
