node_modules
build/report/
build/scriptcat/src/*.js
build/scriptcat/**.html
build/scriptcat/src/*.txt
build/scriptcat/src/*.ttf
build/scriptcat/src/*.css
build/scriptcat/src/*.svg
build/scriptcat/src/*.woff

*.zip
*.crx
*.pem
manifest_firefox.json
manifest_chrome.json
scriptcat_firefox

private
.idea
