.show-log-card .arco-list-item {
  border-bottom: 0 !important;
}

h1.arco-typography,
h2.arco-typography,
h3.arco-typography,
h4.arco-typography,
h5.arco-typography,
h6.arco-typography {
  margin-top: 0 !important;
}

.script-list .arco-card-body {
  padding: 0 !important;
}

.max-table-cell .arco-table-cell {
  display: block;
  max-height: 100px;
  overflow: auto;
}

/* error、wran图标直接用的油猴CodeMirror编辑器图标 待优化*/
.icon-error{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAHlBMVEW7AAC7AACxAAC7AAC7AAAAAAC4AAC5AAD///+7AAAUdclpAAAABnRSTlMXnORSiwCK0ZKSAAAATUlEQVR42mWPOQ7AQAgDuQLx/z8csYRmPRIFIwRGnosRrpamvkKi0FTIiMASR3hhKW+hAN6/tIWhu9PDWiTGNEkTtIOucA5Oyr9ckPgAWm0GPBog6v4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center;
  left: 10px!important;
}

.icon-warn{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center;
  left: 10px!important;
}

.actionList{
  height: auto !important;
}