@unocss preflights;
@unocss default;
@unocss;

body {
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
    /* 对于webkit浏览器的滚动条样式 */
    scrollbar-width: thin;
}

body[arco-theme='dark'] {
    --color-scrollbar-thumb: #6b6b6b;
    --color-scrollbar-track: #2d2d2d;
    --color-scrollbar-thumb-hover: #8c8c8c;
}

body[arco-theme='light'] {
    --color-scrollbar-thumb: #6b6b6b;
    --color-scrollbar-track: #f0f0f0;
    --color-scrollbar-thumb-hover: #8c8c8c;
}

:root {
	--sc-zero-1: 0;
	--sc-zero-2: 0;
	--sc-zero-3: 0;
	--sc-zero-4: 0;
}

/* 自定义 .sc-inset-0 避免打包成 inset: 0 使旧浏览器布局错位 */
.sc-inset-0 {
	top: var(--sc-zero-1);
	left: var(--sc-zero-2);
	right: var(--sc-zero-3);
	bottom: var(--sc-zero-4);
}
