.edit-tabs .arco-tabs-header-title-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.script-code-editor,
.wrapped-code-editor {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.arco-tabs-add-icon:empty {
	display: none;
}