name: build

on:
  push:
    branches:
      - main
      - release/*
      - dev

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Package with Node
        env:
          CHROME_PEM: ${{ secrets.CHROME_PEM }}
        run: |
          mkdir dist
          echo "$CHROME_PEM" > ./dist/scriptcat.pem
          chmod 600 ./dist/scriptcat.pem
          pnpm i
          pnpm run pack

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: all-artifacts
          path: |
            dist/*.zip
            dist/*.crx

      - name: Archive extension
        uses: actions/upload-artifact@v4
        with:
          name: scriptcat
          path: |
            dist/ext/*
