name: test

on:
  push:
    branches:
      - main
      - release/*
      - dev
      - develop/*
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Run tests
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Setup pnpm
        run: corepack enable

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Cache ESLint cache
        uses: actions/cache@v4
        with:
          path: .eslintcache
          key: eslint-${{ hashFiles('pnpm-lock.yaml', '.eslintrc*') }}
          restore-keys: |
            eslint-

      - name: Lint
        run: pnpm lint:ci

      - name: Unit Test
        run: |
          pnpm test:ci
          pnpm coverage:ci

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
